In [1]:
import pandas as pd

# Specify the file path
file_path = r"C:\Users\cpall\Desktop\ironhack\lessons\5_6_eda_inf_stats_tableau\project\files_for_project\df_final_web_data_pt_1.txt"

# Read the txt file into a DataFrame
df_final_web_data_pt_1 = pd.read_csv(file_path, sep=",")  # comma-separated values
# Display basic information about the dataframe
df_final_web_data_pt_1.info()
df_final_web_data_pt_1.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343141 entries, 0 to 343140
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     343141 non-null  int64
 1   visitor_id    343141 non-null  object
 2   visit_id      343141 non-null  object
 3   process_step  343141 non-null  object
 4   date_time     343141 non-null  object
dtypes: int64(1), object(4)
memory usage: 13.1+ MB

Index(['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], dtype='object')

In [2]:
# import pandas as pd

# Specify the file path
file_path = r"C:\Users\cpall\Desktop\ironhack\lessons\5_6_eda_inf_stats_tableau\project\files_for_project\df_final_web_data_pt_2.txt"

# Read the txt file into a DataFrame
df_final_web_data_pt_2 = pd.read_csv(file_path, sep=",")  # comma-separated values
# Display basic information about the dataframe
df_final_web_data_pt_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 412264 entries, 0 to 412263
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     412264 non-null  int64
 1   visitor_id    412264 non-null  object
 2   visit_id      412264 non-null  object
 3   process_step  412264 non-null  object
 4   date_time     412264 non-null  object
dtypes: int64(1), object(4)
memory usage: 15.7+ MB

In [3]:
# Vertical concatenation
web_df = pd.concat([df_final_web_data_pt_1, df_final_web_data_pt_2], ignore_index=True)
# Check the result
print(web_df.info())
print(web_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  object
dtypes: int64(1), object(4)
memory usage: 28.8+ MB
None
   client_id            visitor_id                      visit_id process_step  \
0    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
1    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
2    9988021  580560515_7732621733  781255054_21935453173_531117       step_3
3    9988021  580560515_7732621733  781255054_21935453173_531117       step_2
4    9988021  580560515_7732621733  781255054_21935453173_531117       step_3

             date_time
0  2017-04-17 15:27:07
1  2017-04-17 15:26:51
2  2017-04-17 15:19:22
3  2017-04-17 15:19:13
4  2017-04-17 15:18:04

In [5]:
# Display the first few rows of the merged dataframe
web_df.head(2)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51

In [ ]:
# Count unique values in process_step
num_unique_process_steps = web_df['process_step'].nunique()
print("Number of unique process steps:", num_unique_process_steps)

# Get the counts for each unique value
process_step_counts = web_df['process_step'].value_counts()
print("\nCounts per process step:")
print(process_step_counts)

Number of unique process steps: 5

Counts per process step:
process_step
start      243945
step_1     163193
step_2     133062
step_3     112242
confirm    102963
Name: count, dtype: int64

In [8]:
# Experiment assignment
exp_file_path = r"C:\Users\cpall\Desktop\ironhack\lessons\5_6_eda_inf_stats_tableau\project\files_for_project\df_final_experiment_clients.txt"
exp_df = pd.read_csv(exp_file_path, sep=",")

# Demographics
demo_file_path = r"C:\Users\cpall\Desktop\ironhack\lessons\5_6_eda_inf_stats_tableau\project\files_for_project\df_final_demo.txt"
demo_df = pd.read_csv(demo_file_path, sep=",")

# Check df shapes
print("Web data shape:", web_df.shape)
print("Experiment data shape:", exp_df.shape)
print("Demo data shape:", demo_df.shape)

# Check first few rows
display(web_df.head(2))
display(exp_df.head(2))
display(demo_df.head(2))

Web data shape: (755405, 5)
Experiment data shape: (70609, 2)
Demo data shape: (70609, 9)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51

   client_id Variation
0    9988021      Test
1    8320017      Test

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.3,6.0,9.0

In [19]:
# Import functions from separate Python file
from data_cleansing import clean_dataframes, merge_all_data

# Step 1: Clean all three dataframes
web_df, exp_df, demo_df = clean_dataframes(web_df, exp_df, demo_df)

# Step 2: Merge everything into one master dataframe
full_merged = merge_all_data(web_df, exp_df, demo_df)

# Quick check
print("Master dataframe shape:", full_merged.shape)
print(full_merged['variation'].value_counts())

full_merged.info()

Master dataframe shape: (755405, 14)
variation
test       177847
control    143462
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         755405 non-null  object
 1   visitor_id        755405 non-null  object
 2   visit_id          755405 non-null  object
 3   process_step      755405 non-null  object
 4   date_time         755405 non-null  object
 5   variation         321309 non-null  object
 6   clnt_tenure_yr    449716 non-null  float64
 7   clnt_tenure_mnth  449716 non-null  float64
 8   clnt_age          449704 non-null  float64
 9   gender            449716 non-null  object
 10  num_accts         449716 non-null  float64
 11  bal               449716 non-null  float64
 12  calls_6_mnth      449716 non-null  float64
 13  logons_6_mnth     449716 non-null  float64
dtypes: float64(7), object(7)
memory usage: 80.7+ MB

In [20]:
full_merged.head(2)

,client_id,visitor_id,visit_id,process_step,date_time,variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gender,num_accts,bal,calls_6_mnth,logons_6_mnth
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,test,5.0,64.0,79.0,u,2.0,189023.86,1.0,4.0
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,test,5.0,64.0,79.0,u,2.0,189023.86,1.0,4.0

In [21]:
# Convert to datetime
full_merged['date_time'] = pd.to_datetime(full_merged['date_time'])
print(full_merged.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         755405 non-null  object
 1   visitor_id        755405 non-null  object
 2   visit_id          755405 non-null  object
 3   process_step      755405 non-null  object
 4   date_time         755405 non-null  datetime64[ns]
 5   variation         321309 non-null  object
 6   clnt_tenure_yr    449716 non-null  float64
 7   clnt_tenure_mnth  449716 non-null  float64
 8   clnt_age          449704 non-null  float64
 9   gender            449716 non-null  object
 10  num_accts         449716 non-null  float64
 11  bal               449716 non-null  float64
 12  calls_6_mnth      449716 non-null  float64
 13  logons_6_mnth     449716 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 80.7+ MB
None

In [22]:
# Check for null values in each column
full_merged.isna().any()

client_id           False
visitor_id          False
visit_id            False
process_step        False
date_time           False
variation            True
clnt_tenure_yr       True
clnt_tenure_mnth     True
clnt_age             True
gender               True
num_accts            True
bal                  True
calls_6_mnth         True
logons_6_mnth        True
dtype: bool

In [23]:
# Number of rows with null variation
print("Rows without variation (not in experiment):", full_merged['variation'].isna().sum())

# Number of rows with any demographic null
print("Rows with missing demographics:", full_merged[['clnt_age', 'gender', 'num_accts', 'bal']].isna().any(axis=1).sum())

Rows without variation (not in experiment): 434096
Rows with missing demographics: 305701

In [24]:
# Drop row with "variation" nulls
full_merged_exp = full_merged[full_merged['variation'].notna()]
print("Rows in experiment (Control/Test):", len(full_merged_exp))

Rows in experiment (Control/Test): 321309

In [25]:
# Drop rows with missing demographics
full_merged_exp_demo = full_merged_exp.dropna(subset=['clnt_age','gender','num_accts','bal'])

full_merged_exp_demo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 321195 entries, 0 to 637535
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         321195 non-null  object
 1   visitor_id        321195 non-null  object
 2   visit_id          321195 non-null  object
 3   process_step      321195 non-null  object
 4   date_time         321195 non-null  datetime64[ns]
 5   variation         321195 non-null  object
 6   clnt_tenure_yr    321195 non-null  float64
 7   clnt_tenure_mnth  321195 non-null  float64
 8   clnt_age          321195 non-null  float64
 9   gender            321195 non-null  object
 10  num_accts         321195 non-null  float64
 11  bal               321195 non-null  float64
 12  calls_6_mnth      321195 non-null  float64
 13  logons_6_mnth     321195 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(6)
memory usage: 36.8+ MB

In [ ]:
# Make a proper copy of full_merged_exp_demo
full_merged_exp_demo = full_merged_exp_demo.copy()

In [27]:
# Convert IDs to strings to avoid concatenation issues
full_merged_exp_demo['client_id'] = full_merged_exp_demo['client_id'].astype(str)
full_merged_exp_demo['visit_id']  = full_merged_exp_demo['visit_id'].astype(str)

# Create a session-level primary key
full_merged_exp_demo['session_id'] = (
    full_merged_exp_demo['client_id'] + "_" + full_merged_exp_demo['visit_id']
)

# Check: number of unique sessions
print("Unique sessions:", full_merged_exp_demo['session_id'].nunique())
print("Rows:", len(full_merged_exp_demo))

Unique sessions: 69425
Rows: 321195

In [28]:
full_merged_exp_demo.head(2)

,client_id,visitor_id,visit_id,process_step,date_time,variation,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gender,num_accts,bal,calls_6_mnth,logons_6_mnth,session_id
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,test,5.0,64.0,79.0,u,2.0,189023.86,1.0,4.0,9988021_781255054_21935453173_531117
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,test,5.0,64.0,79.0,u,2.0,189023.86,1.0,4.0,9988021_781255054_21935453173_531117

In [30]:
import pandas as pd
import numpy as np

# gender var - Standardize, clean, and label
gender_map = {   # value transformation via dictionary
    'M': 'male',
    'F': 'female'
}

full_merged_exp_demo['gender_clean'] = (   # Creates a new column if it does not already exist (preserves raw data: best practice in data cleaning)
    full_merged_exp_demo['gender']
    .str.upper()                 # normalize case
    .replace(['U', 'X'], np.nan) # treat U and X as missing
    .map(gender_map)             # apply labels
)

# Convert to categorical
full_merged_exp_demo['gender_clean'] = pd.Categorical(
    full_merged_exp_demo['gender_clean'],
    categories=['male', 'female']
)

print(full_merged_exp_demo)

       client_id             visitor_id                      visit_id  \
0        9988021   580560515_7732621733  781255054_21935453173_531117
1        9988021   580560515_7732621733  781255054_21935453173_531117
2        9988021   580560515_7732621733  781255054_21935453173_531117
3        9988021   580560515_7732621733  781255054_21935453173_531117
4        9988021   580560515_7732621733  781255054_21935453173_531117
...          ...                    ...                           ...
637487   1574008  117364417_77840596075  528720790_71583064618_169151
637532   2908510  814969699_90652851448   562606085_36368381773_92090
637533   2908510  814969699_90652851448   562606085_36368381773_92090
637534   2908510  814969699_90652851448   562606085_36368381773_92090
637535   2908510  814969699_90652851448   562606085_36368381773_92090

       process_step           date_time variation  clnt_tenure_yr  \
0            step_3 2017-04-17 15:27:07      test             5.0
1            step_2 2017-04-17 15:26:51      test             5.0
2            step_3 2017-04-17 15:19:22      test             5.0
3            step_2 2017-04-17 15:19:13      test             5.0
4            step_3 2017-04-17 15:18:04      test             5.0
...             ...                 ...       ...             ...
637487        start 2017-05-06 23:43:27      test            10.0
637532        start 2017-05-10 22:57:17   control            21.0
637533       step_2 2017-05-10 22:56:31   control            21.0
637534       step_1 2017-05-10 22:56:23   control            21.0
637535        start 2017-05-10 22:56:20   control            21.0

        clnt_tenure_mnth  clnt_age gender  num_accts        bal  calls_6_mnth  \
0                   64.0      79.0      u        2.0  189023.86           1.0
1                   64.0      79.0      u        2.0  189023.86           1.0
2                   64.0      79.0      u        2.0  189023.86           1.0
3                   64.0      79.0      u        2.0  189023.86           1.0
4                   64.0      79.0      u        2.0  189023.86           1.0
...                  ...       ...    ...        ...        ...           ...
637487             121.0      55.0      u        2.0  153238.83           3.0
637532             252.0      34.0      m        3.0  141808.05           6.0
637533             252.0      34.0      m        3.0  141808.05           6.0
637534             252.0      34.0      m        3.0  141808.05           6.0
637535             252.0      34.0      m        3.0  141808.05           6.0

        logons_6_mnth                            session_id gender_clean
0                 4.0  9988021_781255054_21935453173_531117          NaN
1                 4.0  9988021_781255054_21935453173_531117          NaN
2                 4.0  9988021_781255054_21935453173_531117          NaN
3                 4.0  9988021_781255054_21935453173_531117          NaN
4                 4.0  9988021_781255054_21935453173_531117          NaN
...               ...                                   ...          ...
637487            6.0  1574008_528720790_71583064618_169151          NaN
637532            9.0   2908510_562606085_36368381773_92090         male
637533            9.0   2908510_562606085_36368381773_92090         male
637534            9.0   2908510_562606085_36368381773_92090         male
637535            9.0   2908510_562606085_36368381773_92090         male

[321195 rows x 16 columns]

In [31]:
full_merged_exp_demo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 321195 entries, 0 to 637535
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         321195 non-null  object
 1   visitor_id        321195 non-null  object
 2   visit_id          321195 non-null  object
 3   process_step      321195 non-null  object
 4   date_time         321195 non-null  datetime64[ns]
 5   variation         321195 non-null  object
 6   clnt_tenure_yr    321195 non-null  float64
 7   clnt_tenure_mnth  321195 non-null  float64
 8   clnt_age          321195 non-null  float64
 9   gender            321195 non-null  object
 10  num_accts         321195 non-null  float64
 11  bal               321195 non-null  float64
 12  calls_6_mnth      321195 non-null  float64
 13  logons_6_mnth     321195 non-null  float64
 14  session_id        321195 non-null  object
 15  gender_clean      212303 non-null  category
dtypes: category(1), datetime64[ns](1), float64(7), object(7)
memory usage: 39.5+ MB

In [32]:
# Save to CSV
full_merged_exp_demo.to_csv(
    'df_ab_project.csv', 
    index=False  # don't save the index as a separate column
)