In [1]:
import pandas as pd

# Specify the file path
file_path = r"C:\Users\cpall\Desktop\ironhack\lessons\5_6_eda_inf_stats_tableau\project\files_for_project\df_final_experiment_clients.txt"

# Read the txt file into a DataFrame
df_roster = pd.read_csv(file_path, sep=",")  # comma-separated values
# Display basic information about the dataframe
df_roster.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [ ]:
# # Total count  of clients
total_clients = df_roster["client_id"].nunique()
total_clients

70609

In [3]:
df_roster.columns

Index(['client_id', 'Variation'], dtype='object')

In [4]:
# Display the first few rows of the dataframe
df_roster.head(10)

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control
5    9466803      Test
6    3170143      Test
7    6651403   Control
8    5887227      Test
9    2105948   Control

In [8]:
# client_id - Check for duplicates in client_id column: there are none
df_roster.duplicated(subset=['client_id']).sum()

np.int64(0)

In [9]:
# Total count of clients with Variation data 
total_clients = df_roster["Variation"].nunique()
total_clients

2

In [7]:
# Frequency table
frequency_table = df_roster['Variation'].value_counts()

# Calculating the proportion of each unique value in the 'process_step'
proportion_table = df_roster['Variation'].value_counts(normalize=True)

frequency_table, proportion_table

(Variation
 Test       26968
 Control    23532
 Name: count, dtype: int64,
 Variation
 Test       0.53402
 Control    0.46598
 Name: proportion, dtype: float64)

In [12]:
x = 26968 +23532
x

50500