In [4]:
import pandas as pd 


df = pd.read_csv(r'C:\Users\cpall\OneDrive\Corsi\2025_corso_Bootcamp\mini_project5_ab_testing\df_ab_project.csv')

In [5]:
df[[]]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[321195 rows x 0 columns]

In [6]:
df = df.groupby(['client_id', 'visitor_id', 'visit_id', 'process_step']).max().reset_index()

In [7]:
df[['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time']]

,client_id,visitor_id,visit_id,process_step,date_time
0,555,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:34
1,555,402506806_56087378777,637149525_38041617439_716659,start,2017-04-15 12:57:56
2,555,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:03
3,555,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:35
4,555,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:14
...,...,...,...,...,...
239245,9999729,843385170_36953471821,493310979_9209676464_421146,start,2017-04-20 14:28:57
239246,9999729,843385170_36953471821,493310979_9209676464_421146,step_1,2017-04-20 14:22:49
239247,9999729,843385170_36953471821,493310979_9209676464_421146,step_2,2017-04-20 14:27:36
239248,9999832,145538019_54444341400,472154369_16714624241_585315,start,2017-05-16 16:46:03
239249,9999832,145538019_54444341400,472154369_16714624241_585315,step_1,2017-05-16 16:46:11

In [8]:
# Pivot the dataframe to make each process_step a column with date_time as value
df_pivoted = df.pivot_table(
    index=['client_id', 'visitor_id', 'visit_id'],
    columns='process_step',
    values='date_time',
    aggfunc='first'
).reset_index()

# Flatten column names
df_pivoted.columns.name = None

df_pivoted

,client_id,visitor_id,visit_id,confirm,start,step_1,step_2,step_3
0,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 13:00:34,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14
1,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:47:45,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02
2,934,810392784_45004760546,7076463_57954418406_971348,NaN,2017-04-18 02:38:52,NaN,NaN,NaN
3,1028,42237450_62128060588,557292053_87239438319_391157,NaN,2017-04-08 18:51:28,2017-04-08 19:00:26,2017-04-08 19:00:17,2017-04-08 18:58:04
4,1104,194240915_18158000533,543158812_46395476577_767725,NaN,2017-06-12 07:49:18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
69420,9999626,52633065_71189986073,182723364_27031318473_880901,NaN,2017-05-14 09:07:51,2017-05-14 09:07:59,NaN,NaN
69421,9999729,604429154_69247391147,99583652_41711450505_426179,NaN,2017-04-05 13:40:49,2017-04-05 13:41:04,NaN,NaN
69422,9999729,834634258_21862004160,870243567_56915814033_814203,2017-05-08 16:09:40,2017-05-08 16:08:25,2017-05-08 16:08:30,2017-05-08 16:08:40,2017-05-08 16:09:19
69423,9999729,843385170_36953471821,493310979_9209676464_421146,NaN,2017-04-20 14:28:57,2017-04-20 14:22:49,2017-04-20 14:27:36,NaN
69424,9999832,145538019_54444341400,472154369_16714624241_585315,NaN,2017-05-16 16:46:03,2017-05-16 16:46:11,NaN,NaN

In [9]:
# Pivot the dataframe to make each process_step a column with date_time as value
df_pivoted = df.pivot_table(
    index=['client_id', 'visitor_id', 'visit_id'],
    columns='process_step',
    values='date_time',
    aggfunc='first'
).reset_index()

# Flatten column names
df_pivoted.columns.name = None

df_pivoted

,client_id,visitor_id,visit_id,confirm,start,step_1,step_2,step_3
0,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 13:00:34,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14
1,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:47:45,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02
2,934,810392784_45004760546,7076463_57954418406_971348,NaN,2017-04-18 02:38:52,NaN,NaN,NaN
3,1028,42237450_62128060588,557292053_87239438319_391157,NaN,2017-04-08 18:51:28,2017-04-08 19:00:26,2017-04-08 19:00:17,2017-04-08 18:58:04
4,1104,194240915_18158000533,543158812_46395476577_767725,NaN,2017-06-12 07:49:18,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
69420,9999626,52633065_71189986073,182723364_27031318473_880901,NaN,2017-05-14 09:07:51,2017-05-14 09:07:59,NaN,NaN
69421,9999729,604429154_69247391147,99583652_41711450505_426179,NaN,2017-04-05 13:40:49,2017-04-05 13:41:04,NaN,NaN
69422,9999729,834634258_21862004160,870243567_56915814033_814203,2017-05-08 16:09:40,2017-05-08 16:08:25,2017-05-08 16:08:30,2017-05-08 16:08:40,2017-05-08 16:09:19
69423,9999729,843385170_36953471821,493310979_9209676464_421146,NaN,2017-04-20 14:28:57,2017-04-20 14:22:49,2017-04-20 14:27:36,NaN
69424,9999832,145538019_54444341400,472154369_16714624241_585315,NaN,2017-05-16 16:46:03,2017-05-16 16:46:11,NaN,NaN

In [10]:
df = df_pivoted[['client_id', 'visitor_id', 'visit_id', 'start', 'step_1', 'step_2', 'step_3', 'confirm']]

In [11]:
df.to_csv('a_b_testing.csv', index=False)

In [12]:
df

,client_id,visitor_id,visit_id,start,step_1,step_2,step_3,confirm
0,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14,2017-04-15 13:00:34
1,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02,2017-04-12 15:47:45
2,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:52,NaN,NaN,NaN,NaN
3,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:51:28,2017-04-08 19:00:26,2017-04-08 19:00:17,2017-04-08 18:58:04,NaN
4,1104,194240915_18158000533,543158812_46395476577_767725,2017-06-12 07:49:18,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
69420,9999626,52633065_71189986073,182723364_27031318473_880901,2017-05-14 09:07:51,2017-05-14 09:07:59,NaN,NaN,NaN
69421,9999729,604429154_69247391147,99583652_41711450505_426179,2017-04-05 13:40:49,2017-04-05 13:41:04,NaN,NaN,NaN
69422,9999729,834634258_21862004160,870243567_56915814033_814203,2017-05-08 16:08:25,2017-05-08 16:08:30,2017-05-08 16:08:40,2017-05-08 16:09:19,2017-05-08 16:09:40
69423,9999729,843385170_36953471821,493310979_9209676464_421146,2017-04-20 14:28:57,2017-04-20 14:22:49,2017-04-20 14:27:36,NaN,NaN
69424,9999832,145538019_54444341400,472154369_16714624241_585315,2017-05-16 16:46:03,2017-05-16 16:46:11,NaN,NaN,NaN

In [13]:
df = df[
    (df['start'].notna() & df['step_1'].notna() & df['step_2'].notna() & df['step_3'].notna() & df['confirm'].notna())
    | (df['start'].notna() & df['step_1'].notna() & df['step_2'].notna() & df['step_3'].notna())
    | (df['start'].notna() & df['step_1'].notna() & df['step_2'].notna())
    | (df['start'].notna() & df['step_1'].notna())
    | (df['start'].notna())
]
df.to_csv('a_b_testing_2.csv', index=False)

In [14]:
1 - len(df[df['confirm'].isna()])/len(df)

0.5126478702015242

In [15]:
df

,client_id,visitor_id,visit_id,start,step_1,step_2,step_3,confirm
0,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14,2017-04-15 13:00:34
1,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02,2017-04-12 15:47:45
2,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:52,NaN,NaN,NaN,NaN
3,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:51:28,2017-04-08 19:00:26,2017-04-08 19:00:17,2017-04-08 18:58:04,NaN
4,1104,194240915_18158000533,543158812_46395476577_767725,2017-06-12 07:49:18,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
69420,9999626,52633065_71189986073,182723364_27031318473_880901,2017-05-14 09:07:51,2017-05-14 09:07:59,NaN,NaN,NaN
69421,9999729,604429154_69247391147,99583652_41711450505_426179,2017-04-05 13:40:49,2017-04-05 13:41:04,NaN,NaN,NaN
69422,9999729,834634258_21862004160,870243567_56915814033_814203,2017-05-08 16:08:25,2017-05-08 16:08:30,2017-05-08 16:08:40,2017-05-08 16:09:19,2017-05-08 16:09:40
69423,9999729,843385170_36953471821,493310979_9209676464_421146,2017-04-20 14:28:57,2017-04-20 14:22:49,2017-04-20 14:27:36,NaN,NaN
69424,9999832,145538019_54444341400,472154369_16714624241_585315,2017-05-16 16:46:03,2017-05-16 16:46:11,NaN,NaN,NaN

In [16]:
# Convert datetime columns to datetime type
step_cols = ['start', 'step_1', 'step_2', 'step_3', 'confirm']
for col in step_cols:
    df[col] = pd.to_datetime(df[col])

# Calculate deltas in seconds
df['delta_start_to_step1'] = (df['step_1'] - df['start']).dt.total_seconds()
df['delta_step1_to_step2'] = (df['step_2'] - df['step_1']).dt.total_seconds()
df['delta_step2_to_step3'] = (df['step_3'] - df['step_2']).dt.total_seconds()
df['delta_step3_to_confirm'] = (df['confirm'] - df['step_3']).dt.total_seconds()

df

C:\Users\cpall\AppData\Local\Temp\ipykernel_17864\1945185947.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_datetime(df[col])
C:\Users\cpall\AppData\Local\Temp\ipykernel_17864\1945185947.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_datetime(df[col])
C:\Users\cpall\AppData\Local\Temp\ipykernel_17864\1945185947.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_datetime(df[col])
C:\Users\cpall\AppData\Local\Temp\ipykernel_17864\1945185947.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_datetime(df[col])
C:\Users\cpall\AppData\Local\Temp\ipykernel_17864\1945185947.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = pd.to_datetime(df[col])
C:\Users\cpall\AppData\Local\Temp\ipykernel_17864\1945185947.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['delta_start_to_step1'] = (df['step_1'] - df['start']).dt.total_seconds()
C:\Users\cpall\AppData\Local\Temp\ipykernel_17864\1945185947.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['delta_step1_to_step2'] = (df['step_2'] - df['step_1']).dt.total_seconds()
C:\Users\cpall\AppData\Local\Temp\ipykernel_17864\1945185947.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['delta_step2_to_step3'] = (df['step_3'] - df['step_2']).dt.total_seconds()
C:\Users\cpall\AppData\Local\Temp\ipykernel_17864\1945185947.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['delta_step3_to_confirm'] = (df['confirm'] - df['step_3']).dt.total_seconds()

,client_id,visitor_id,visit_id,start,step_1,step_2,step_3,confirm,delta_start_to_step1,delta_step1_to_step2,delta_step2_to_step3,delta_step3_to_confirm
0,555,402506806_56087378777,637149525_38041617439_716659,2017-04-15 12:57:56,2017-04-15 12:58:03,2017-04-15 12:58:35,2017-04-15 13:00:14,2017-04-15 13:00:34,7.0,32.0,99.0,20.0
1,647,66758770_53988066587,40369564_40101682850_311847,2017-04-12 15:41:28,2017-04-12 15:41:35,2017-04-12 15:41:53,2017-04-12 15:45:02,2017-04-12 15:47:45,7.0,18.0,189.0,163.0
2,934,810392784_45004760546,7076463_57954418406_971348,2017-04-18 02:38:52,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaN
3,1028,42237450_62128060588,557292053_87239438319_391157,2017-04-08 18:51:28,2017-04-08 19:00:26,2017-04-08 19:00:17,2017-04-08 18:58:04,NaT,538.0,-9.0,-133.0,NaN
4,1104,194240915_18158000533,543158812_46395476577_767725,2017-06-12 07:49:18,NaT,NaT,NaT,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
69420,9999626,52633065_71189986073,182723364_27031318473_880901,2017-05-14 09:07:51,2017-05-14 09:07:59,NaT,NaT,NaT,8.0,NaN,NaN,NaN
69421,9999729,604429154_69247391147,99583652_41711450505_426179,2017-04-05 13:40:49,2017-04-05 13:41:04,NaT,NaT,NaT,15.0,NaN,NaN,NaN
69422,9999729,834634258_21862004160,870243567_56915814033_814203,2017-05-08 16:08:25,2017-05-08 16:08:30,2017-05-08 16:08:40,2017-05-08 16:09:19,2017-05-08 16:09:40,5.0,10.0,39.0,21.0
69423,9999729,843385170_36953471821,493310979_9209676464_421146,2017-04-20 14:28:57,2017-04-20 14:22:49,2017-04-20 14:27:36,NaT,NaT,-368.0,287.0,NaN,NaN
69424,9999832,145538019_54444341400,472154369_16714624241_585315,2017-05-16 16:46:03,2017-05-16 16:46:11,NaT,NaT,NaT,8.0,NaN,NaN,NaN

In [17]:
df.columns

Index(['client_id', 'visitor_id', 'visit_id', 'start', 'step_1', 'step_2',
       'step_3', 'confirm', 'delta_start_to_step1', 'delta_step1_to_step2',
       'delta_step2_to_step3', 'delta_step3_to_confirm'],
      dtype='object')

In [18]:
df = df[[
    'client_id', 'visitor_id', 'visit_id',
    'delta_start_to_step1', 'delta_step1_to_step2',
    'delta_step2_to_step3', 'delta_step3_to_confirm'
]]

In [19]:
df = df[
    ~(df['delta_start_to_step1'] < 0) & 
    ~(df['delta_step1_to_step2'] < 0) & 
    ~(df['delta_step2_to_step3'] < 0) & 
    ~(df['delta_step3_to_confirm'] < 0)
]

In [20]:
df.to_csv('cleansed_timestamps.csv', index=False)

In [21]:
df

,client_id,visitor_id,visit_id,delta_start_to_step1,delta_step1_to_step2,delta_step2_to_step3,delta_step3_to_confirm
0,555,402506806_56087378777,637149525_38041617439_716659,7.0,32.0,99.0,20.0
1,647,66758770_53988066587,40369564_40101682850_311847,7.0,18.0,189.0,163.0
2,934,810392784_45004760546,7076463_57954418406_971348,NaN,NaN,NaN,NaN
4,1104,194240915_18158000533,543158812_46395476577_767725,NaN,NaN,NaN,NaN
5,1104,194240915_18158000533,643221571_99977972121_69283,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
69419,9999400,915967319_19082377501,288904166_90826265353_276104,22.0,27.0,46.0,24.0
69420,9999626,52633065_71189986073,182723364_27031318473_880901,8.0,NaN,NaN,NaN
69421,9999729,604429154_69247391147,99583652_41711450505_426179,15.0,NaN,NaN,NaN
69422,9999729,834634258_21862004160,870243567_56915814033_814203,5.0,10.0,39.0,21.0
69424,9999832,145538019_54444341400,472154369_16714624241_585315,8.0,NaN,NaN,NaN

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56113 entries, 0 to 69424
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   client_id               56113 non-null  int64
 1   visitor_id              56113 non-null  object
 2   visit_id                56113 non-null  object
 3   delta_start_to_step1    43349 non-null  float64
 4   delta_step1_to_step2    37894 non-null  float64
 5   delta_step2_to_step3    35481 non-null  float64
 6   delta_step3_to_confirm  31918 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.4+ MB

In [24]:
df['client_id'].nunique()

45866